@use '../../styles/variables' as *;

.title {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 8px;
  color: #F8F8F8;
  width: 100%;
}

.title_name {
  font-size: $font-xxl;
  font-weight: 700;
}

.developer {
  font-size: 1.8rem;
  margin-bottom: 8px;
  background: $gradient-text;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 100%;
}

.subtext {
  color: $text-color;
  max-width: 650px;
  font-size: 1.6rem;
  line-height: 32px;
  margin-bottom: $margin-sm;
}

@media(min-width: $media-desktop) {
  .liquid_model {
    display: none;
  }

  .title {
  font-size: 4.8rem;
    margin-bottom: 20px;
    width: unset;

  }

  .title_name {
    font-size: $font-title;
  }

  .developer {
    text-align: unset;
  font-size: 3.2rem;
  width: unset;
    margin-bottom: $margin-sm;
  }

  .subtext {
    text-align: unset;
    line-height: 40px;
    font-size: 2.8rem;
    margin-bottom: $margin-md;

  }
}
