@use '../../styles/variables' as *;

@mixin responsive-font($tablet, $laptop, $desktop) {
  @media (min-width: $media-tablet-big) {
    font-size: $tablet;
  }
  @media (min-width: $media-laptop) {
    font-size: $laptop;
  }
  @media (min-width: $media-desktop-standard) {
    font-size: $desktop;
  }
}

.title {
  font-size: $font-base;
  line-height: 1;
  margin-bottom: 8px;
  color: $color-light-dim;
  width: 100%;
  @include responsive-font($font-2sm, $font-2lg, $font-xl);
}

.developer {
  font-size: $font-sm;
  margin-bottom: 8px;
  background: $gradient-text;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 100%;
  @include responsive-font($font-base, $font-2md, $font-lg);
}

.subtext {
  color: $text-color;
  max-width: 625px;
  font-size: $font-xs;
  line-height: 32px;
  margin-bottom: $margin-sm;
  @include responsive-font($font-sm, $font-md, $font-2md);
}

@media(min-width: $media-laptop) {
  .title {
    margin-bottom: 20px;
    width: unset;
  }

  .developer {
    text-align: unset;
    width: unset;
    margin-bottom: $margin-sm;
  }

  .subtext {
    text-align: unset;
    line-height: 40px;
    margin-bottom: $margin-md;
  }
}

@media(min-width: $media-desktop-standard) {
  .subtext {
    max-width: 650px;
  }
}