@use '../../styles/variables' as *;

.title {
  font-size: $font-base;
  line-height: 1;
  margin-bottom: 8px;
  color: $color-light-dim;
  width: 100%;
}

.developer {
  font-size: $font-sm;
  margin-bottom: 8px;
  background: $gradient-text;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 100%;
}

.subtext {
  color: $text-color;
  max-width: 625px;
  font-size: $font-xs;
  line-height: 32px;
  margin-bottom: $margin-sm;
}

@media (min-width: $media-tablet-big) {
  .title {
    font-size: $font-2sm;
  }

  .developer {
    font-size: $font-base;
  }

  .subtext {
    font-size: $font-sm;
  }
}

@media(min-width: $media-laptop) {
  .title {
    font-size: $font-2lg;
    margin-bottom: 20px;
    width: unset;
  }

  .developer {
    text-align: unset;
    font-size: $font-2md;
    width: unset;
    margin-bottom: $margin-sm;
  }

  .subtext {
    text-align: unset;
    line-height: 40px;
    font-size: $font-md;
    margin-bottom: $margin-md;
  }
}

@media(min-width: $media-desktop-standard) {

  .title {
    font-size: $font-xl;
  }

  .developer {
    font-size: $font-lg;
  }

  .subtext {
    font-size: $font-2md;
    max-width: 650px;
  }
}