
$margin-xxs: 4px;
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 32px;
$margin-xl: 40px;
$margin-xxl: 80px;

$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;
$padding-xl: 40px;
$padding-xxl: 80px;

$color-dark: #1a1a1a;
$color-light: #ffffff;
$text-color: #cccccc;

$font-xs: 1.6rem;
$font-sm: 1.8rem;
$font-md: 2.4rem;
$font-lg: 3.2rem;
$font-xl: 4.8rem;
$font-xxl: 6rem;
$font-xxxl: 11rem;
$font-title: 13rem;

$media-tablet: 768px;
$media-desktop: 1200px;

$primary-gradient: linear-gradient(270deg, #4ac0ff 0%, #b275fb 100%);
$gradient-text: linear-gradient(270deg, #4ac0ff 46%, #b275fb 100%);
