/*
1. Margin
2. Padding
3. Color
4. Font
5. Media query
6. Gradient colors
*/

// Margin
$margin-xxs: 4px;
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 32px;
$margin-xl: 40px;
$margin-xxl: 50px;

// Padding
$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;
$padding-xl: 40px;
$padding-xxl: 50px;

// Color
$color-dark: #1a1a1a;
$color-dim: #242629;
$color-light: #ffffff;
$color-light-dim: #F8F8F8;
$color-primary: #b275fb;
$text-color: #cccccc;

// Font
$font-xxs: 1.2rem;
$font-xms: 1.4rem;
$font-xs: 1.6rem;
$font-sm: 1.8rem;
$font-base: 2rem;
$font-2sm: 2.2rem;
$font-md: 2.4rem;
$font-2md: 2.8rem;
$font-lg: 3.2rem;
$font-2lg: 3.8rem;
$font-xl: 4.8rem;
$font-xxl: 6rem;
$font-xxxl: 11rem;
$font-title: 13rem;
$font-title-xs: 16rem;
$font-title-sm: 25rem;
$font-title-lg: 30rem;

// Media query
$media-mobile: 375px;

$media-tablet: 768px;
$media-tablet-big: 1024px;

$media-laptop: 1200px;
$media-laptop-medium: 1280px; 
$media-laptop-large: 1366px;       

$media-desktop-standard: 1440px;
$media-desktop-large: 1920px; // TODO
$media-desktop-ultra: 2560px; // TODO

// Gradient colors
$primary-gradient: linear-gradient(270deg, #4ac0ff 0%, #b275fb 100%);
$gradient-text: linear-gradient(270deg, #4ac0ff 46%, #b275fb 100%);
