@use "../../styles/variables" as *;

.title {
    font-size: $font-lg;
    text-align: center;
    margin-bottom: $margin-xl;
}

@media(min-width: $media-tablet-big) {
    .title {
        margin-bottom: $margin-xxl;
    }
}