@use "../../styles/variables" as *;

.liquid_circle {
  width: 300px;
  height: 300px;
  background: $primary-gradient;
  animation: wave 4s ease-in-out infinite;
  margin-bottom: $margin-md;
  will-change: border-radius;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
  }
  50% {
    border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
  }
}

@media (min-width: $media-laptop) {
  .liquid_circle {
    width: 550px;
    height: 550px;
    margin-bottom: unset;
  }
}

@media (min-width: $media-desktop) {
  .liquid_circle {
    width: 700px;
    height: 700px;
  }
}
