@use "../../styles/variables" as *;

.liquid_circle {
  width: 250px;
  height: 250px;
  background: $primary-gradient;
  margin-bottom: $margin-md;
  will-change: border-radius;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
  }
  50% {
    border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
  }
}

@media (min-width: $media-mobile) {
  .liquid_circle {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $media-tablet-big) {
  .liquid_circle {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: $media-laptop) {
  .liquid_circle {
    width: 550px;
    height: 550px;
    margin-bottom: unset;
  }
}

@media (min-width: $media-desktop-standard) {
  .liquid_circle {
    width: 650px;
    height: 650px;
  }
}
