@use "./styles/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: $margin-xl;
}

.hero_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model {
  position: relative;
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.liquid_model_desktop {
  display: none;
}

// Projects
.projects {
  position: relative;
}

.projects_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects_title,
.skills_title {
  font-size: $font-lg;
  text-align: center;
  margin-bottom: $margin-xl;
}

// icons
.icon_size {
  font-size: 3em;
}

// Skills
.skills_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

// Contact
.contact_info {
  text-align: center;
}

.contact_title {
  font-size: $font-lg;
  text-align: center;
  margin-bottom: 40px;
}

.contact_subtitle {
  font-size: $font-2sm;
  font-weight: 500;
  margin-bottom: 24px;
}

.contact_email {
  font-size: $font-md;
  font-weight: 600;
  padding-bottom: 16px;
  margin-bottom: 14px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: $primary-gradient;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.contact_cube {
  display: none;
}

// Media query
@media (min-width: $media-tablet) {
  .projects_card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .projects_card_item {
    width: calc(50% - 60px);
    margin-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;

    &:nth-child(2n-2) {
      position: relative;
      top: 300px;
    }
  }

  .skills_wrap {
    gap: 24px;
  }

  .contact_info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: unset;
    gap: 20px;
  }

  .contact_subtitle {
    font-size: $font-md;
  }

  .contact_email {
    width: fit-content;
    font-size: $font-lg;
  }

  .contact_cube {
    display: block;
  }
}

@media (min-width: $media-desktop) {
  .hero {
    flex-direction: unset;
  }

  .hero_info {
    align-items: unset;
  }

  .liquid_model_desktop {
    display: block;
  }

  .buttons {
    gap: 16px;
    width: fit-content;
    justify-content: unset;
    flex-direction: unset;
  }

  .icon_size {
    font-size: 4em;
  }

  .contact_info {
    padding: 40px 0;
  }

  .contact_subtitle {
    font-size: $font-lg;
  }

  .contact_email {
    font-size: $font-2lg;
  }
}