@use "./styles/variables" as *;

.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_info_buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

// Projects
.projects {
  position: relative;
}

.projects_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// icons
.icon--medium {
  font-size: 3em;
}

// Skills
.skills_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@media (min-width: $media-tablet) {
  .hero {
    margin-bottom: $margin-xl;
  }

  .projects_card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .projects_card_item:not(:last-child) {
    margin-bottom: 38px;
  }

  .projects_card_item {
    width: calc(50% - 35px);
    text-align: center;
    box-sizing: border-box;
    display: inline-block;

    &:nth-child(2n-2) {
      position: relative;
      top: 300px;
    }
  }

  .skills_wrap {
    gap: 24px;
  }
}

@media (min-width: $media-tablet-big) {
  .hero {
    flex-direction: unset;
  }
}

@media (min-width: $media-laptop) {
  .hero_info {
    align-items: unset;
  }

  .hero_info_buttons {
    gap: 16px;
    width: fit-content;
    justify-content: unset;
    flex-direction: unset;
  }

  .icon--medium {
    font-size: 3.5em;
  }

  .projects_card_item:last-child {
    margin-bottom: 58px;
  }

  .projects_card_item {
    width: calc(50% - 60px);
  }
}

@media (min-width: $media-desktop-standard) {
  .icon--medium {
    font-size: 4em;
  }
}