*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  scrollbar-gutter: stable;
}

html::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.75, #4ac0ff),
      color-stop(0.52, rgb(133, 150, 253)),
      color-stop(0.22, #b275fb));
}

body {
  background-color: #1a1a1a;
  color: #F8F8F8;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  -webkit-tap-highlight-color: transparent; /* This removes the highlight on tap */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  position: relative;
}

ol,
ul {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}